<div id="top-nav" class="skin-3 fixed">
    <div class="brand">
        <span></span>
        <span class="text-toggle"> MDAACD</span>
    </div><!-- /brand -->
    <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <ul class="nav-notification clearfix">

        <li class="profile dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <strong>Feliciano Sicha </strong>
                <span><i class="fa fa-chevron-down"></i></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="clearfix" href="#">
                        <img src="img/user.jpg" alt="User Avatar">
                        <div class="detail">
                            <strong>Feliciano Sicha </strong>
                            <p class="grey">fsichamendoza@gmail.com</p>
                        </div>
                    </a>
                </li>
                <li><a tabindex="-1" href="perfil-usuario" class="main-link"><i class="fa fa-edit fa-lg"></i> Editar
                    Perfil</a></li>

                <li class="divider"></li>
                <li><a tabindex="-1" class="main-link logoutConfirm_open" href="#logoutConfirm"><i
                        class="fa fa-lock fa-lg"></i> Salir</a></li>
            </ul>
        </li>
    </ul>

    <ul class="nav-notification clearfix">

        <li class="profile dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <strong>Lista Personas Regitradas</strong>
            </a>
        </li>
        <li class="profile dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <strong>Lista Emergencias e Incidentes</strong>
            </a>
        </li>
        <li class="profile dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <strong>Modulos</strong>
                <span><i class="fa fa-chevron-down"></i></span>
            </a>
            <ul class="dropdown-menu">

                <li><a tabindex="-1" class="main-link " href="modulo01">
                    <p>Modulo 01: Generacion de Puntos Criticos</p>
                    <p>y Mapas de Delito</p>
                </a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" class="main-link " href="modulo02">
                    <p>Modulo 02: Registro de Incidentes</p>
                    <p>de Seguridad Ciudadana</p>
                </a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" class="main-link " href="modulo03">
                    <p>Modulo 03: Gestión de Incidentes</p>
                    <p>de Seguridad Ciudadana</p>
                </a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" class="main-link " href="modulo04">
                    <p>Modulo 04: Consultas y Reportes </p>

                </a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" class="main-link " href="modulo05">
                    <p>Modulo 05:Gestion de Usuarios </p>
                    <p>y seguridad</p>
                </a></li>
            </ul>
        </li>
        <li class="dropdown open">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-lg"></i>
                <span class="notification-label bounceIn animation-delay6">5</span>
            </a>
            <ul class="dropdown-menu notification dropdown-3">
                <li><a href="#">Nuevas Notificaciones y SOS</a></li>
                <li>
                    <a href="#">
								<span class="notification-icon bg-warning">
									<i class="fa fa-warning"></i>
								</span>
                        <span class="m-left-xs">Reporte de Robo.</span>
                        <span class="time text-muted">Ahora</span>
                    </a>
                </li>

                <li>
                    <a href="#">
								<span class="notification-icon bg-danger">
									<i class="fa fa-bolt"></i>
								</span>
                        <span class="m-left-xs">Emergencia Auxilio.</span>
                        <span class="time text-muted">Hace 5 min</span>
                    </a>
                </li>


                <li><a href="#">Ver todas las notificaciones</a></li>
            </ul>
        </li>
    </ul>
</div>