<aside class="fixed skin-3">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

        </div>
        <!-- /size-toggle -->
        <div class="user-block clearfix">

            <div class="detail">

                <ul class="list-inline">
                    <li><a href="perfil-usuario">LISTADO DE CAPAS</a>
                    </li>

                </ul>

            </div>
        </div>
        <!-- /user-block -->

        <div class="main-menu">
            <ul id="feature-list" style="overflow-y: auto;">


            </ul>


        </div>
        <!-- /main-menu -->
    </div>
    <!-- /sidebar-inner scrollable-sidebar -->
</aside>
