<aside class="fixed skin-3">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="btn btn-sm pull-right logoutConfirm_open"  href="#logoutConfirm">
                <i class="fa fa-power-off"></i>
            </a>
        </div><!-- /size-toggle -->
        <div class="user-block clearfix">
            <img src="img/user.jpg" alt="User Avatar">
            <div class="detail">
                <strong>Feliciano Sicha </strong>
                <ul class="list-inline">
                    <li><a href="perfil-usuario">Perfil</a></li>
                    <li><a href="inbox.html" class="no-margin">Mis Incidentes</a></li>
                </ul>
            </div>
        </div><!-- /user-block -->

        <div class="main-menu">
            <ul>

















                <li>
                    <a href="usuarios">
              <span class="menu-icon">
                <img src="img/equipo.svg" style="height: 40px;">
              </span>
                        <span class="text">
                Usuarios
              </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>


            </ul>

            <div class="alert alert-info">
                Bienvenido a la Plataforma mas de seguridad ciudadana de la Municipalidad Distrital Andres Avelino Caceres Dorregaray.
            </div>
        </div><!-- /main-menu -->
    </div><!-- /sidebar-inner scrollable-sidebar -->
</aside>