<aside class="fixed skin-3">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="btn btn-sm pull-right logoutConfirm_open"  href="#logoutConfirm">
                <i class="fa fa-power-off"></i>
            </a>
        </div><!-- /size-toggle -->
        <div class="user-block clearfix">
            <img src="img/user.jpg" alt="User Avatar">
            <div class="detail">
                <strong>Feliciano Sicha </strong>
                <ul class="list-inline">
                    <li><a href="perfil-usuario">Perfil</a></li>
                    <li><a href="inbox.html" class="no-margin">Mis Incidentes</a></li>
                </ul>
            </div>
        </div><!-- /user-block -->

        <div class="main-menu">
            <ul>

                <li>
                    <a href="registro-incidente">
            <span class="menu-icon">
             <img src="img/choque-de-autos.svg" style="height: 30px;">
            </span>
                        <span class="text">
              Reg. Incidentes
            </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>

                <li>
                    <a href="administracion-incidente">
            <span class="menu-icon">
              <img src="img/ajustes.svg" style="height: 30px;">
            </span>
                        <span class="text">
              Adm. Incidente
            </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="tipo-incidente">
            <span class="menu-icon">
              <img src="img/gente-peleando.svg" style="height: 30px;">
            </span>
                        <span class="text">
              Tipo de Incidente
            </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                <a href="delito">
            <span class="menu-icon">
              <img src="img/bola-y-cadena.svg" style="height: 30px;">
            </span>
                    <span class="text">
              Delito
            </span>
                    <span class="menu-hover"></span>
                </a>
            </li>

                <li>
                    <a href="tipo-delito">
            <span class="menu-icon">
              <img src="img/prisioner.svg" style="height: 30px;">
            </span>
                        <span class="text">
              Tipo de Delito
            </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>

            </ul>

            <div class="alert alert-info">
                Bienvenido a la Plataforma mas de seguridad ciudadana de la Municipalidad Distrital Andres Avelino Caceres Dorregaray.
            </div>
        </div><!-- /main-menu -->
    </div><!-- /sidebar-inner scrollable-sidebar -->
</aside>